<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Greenbottle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/img/Logo.png}" rel="shortcut icon"/>
    <link th:href="@{/stylesheet/Common.css}" rel="stylesheet">
    <link th:href="@{/stylesheet/Head.css}" rel="stylesheet">
    <link th:href="@{/stylesheet/Footer.css}" rel="stylesheet">
    <link th:href="@{/stylesheet/Home.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/fragments.html :: header}"></div>
<div class="container-fluid py-5">
    <div class="container-fluid py-5 position-relative">
        <!-- Carosello come sfondo -->
        <div id="carouselBackground" class="carousel slide"
             data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/img/carousel1.png" class="d-block w-100" alt="Background 1">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/img/carousel2.png" class="d-block w-100" alt="Background 2">
                </div>
                <div class="carousel-item">
                    <img src="/img/carousel3.png" class="d-block w-100" alt="Background 3">
                </div>
            </div>
        </div>

        <!-- Contenuto in primo piano -->
        <div class="row justify-content-center py-4 position-relative" id="presentation">
            <!-- Immagine -->
            <div class="col-md-4 d-flex align-items-center justify-content-center" id="hero">
                <img th:src="@{/img/Logo.png}" alt="Hero Background" class="img-fluid" style="max-width: 80%;">
            </div>

            <!-- Titolo -->
            <div class="col-md-8 d-flex align-items-center justify-content-center text-center text-md-start">
                <h1 class="display-4 fw-bold" id="logo">GreenBottle</h1>
            </div>
        </div>
    </div>

    <!-- Sezione di Descrizione del sito -->
    <div class="row justify-content-center mt-5 px-30">
        <div class="col-lg-8 col-md-6">
            <div class="card shadow-lg m-5">
                <div class="card-body">
                    <p class="text fs-5">
                        Lo scopo principale del progetto <strong>GreenBottle</strong> è quello di creare una piattaforma digitale che
                        permetta ai clienti di ricevere a domicilio bevande in bottiglie di vetro.<hr> Vi sarà un occhio di
                    riguardo verso le persone con <em>mobilità ridotta</em>, che potranno usufruire di opzioni aggiuntive per
                        la consegna, e sarà disponibile anche un’opzione per il ritiro delle bottiglie di vetro vuote.<br><br>
                    Tutto ciò viene fatto mantenendo un forte impegno verso la <em>sostenibilità ambientale</em>: i clienti
                        potranno controllare in qualsiasi momento la propria impronta ecologica e, tramite la riconsegna
                        delle bottiglie vuote, favorire un ciclo di riuso sostenibile.<br><br> I nostri corrieri, inoltre,
                        useranno esclusivamente veicoli elettrici per effettuare le proprie consegne, sottolineando
                        ancora di più l'importanza delle tematiche green all'interno del progetto.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/fragments :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
