/* Footer pagina */
footer {
    background-color: #31511E; /* Colore di sfondo scuro per il footer */
    color: #F6FCDF; /* Colore del testo del footer */
}

@media (max-width: 992px) {
    footer {
        display: none;
    }
}