/* Footer pagina */
footer {
    background-color: #343a40; /* Colore di sfondo scuro per il footer */
    color: white; /* Colore del testo del footer */
    text-align: center; /* Centra il testo */
    padding: 20px 0; /* Padding superiore e inferiore */
}