/* Header Navbar */
.navbar {
    background-color: #16e37a; /*Colore di sfondo verde chiaro per la navbar*/
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto; /*Le voci del menù saranno posizionate a destra*/
}

.navbar-nav .nav-link {
    color: black; /*Il colore del testo delle voci sarà nero*/
}

.navbar-nav .nav-link:hover {
    color: #999999; /*Il colore al passaggio del mouse sulle voci sarà grigio scuro*/
}
