body {
    color: #1A1A19;
}

.img-fluid {
    max-width: 70%;
    height: auto;
}

#presentation {
    background: url("/img/Banner.png") no-repeat center center / cover;
}

#logo {
    color: #F6FCDF;
}