body {
    color: #1A1A19;
    background: url("/img/Banner.png") no-repeat center center / cover;
}

.img-fluid {
    max-width: 70%;
    height: auto;
}

#logo {
    color: #F6FCDF;
    transition: transform 0.3s ease, color 0.3s ease;
}

#logo:hover {
    transform: scale(1.1);
}