#btn {
    background-color: #859F3D;
    color: #F6FCDF;
    border-color: #859F3D;
    opacity: 0.7;
}

#btn:hover {
    opacity: 1;
}

body {
    background: url("/img/Banner.png") no-repeat center center / cover;
}