<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abbonamenti - GreenBottle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/img/Logo.png}" rel="shortcut icon"/>
    <link th:href="@{/stylesheet/Common.css}" rel="stylesheet">
    <link th:href="@{/stylesheet/Head.css}" rel="stylesheet">
    <link th:href="@{/stylesheet/Footer.css}" rel="stylesheet">
    <link th:href="@{/stylesheet/Abbonamenti.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/fragments.html :: header}"></div>
<h1 style="text-align: center;">I nostri abbonamenti</h1>
<div class="container mt-5">
    <!--/*@thymesVar id="abbonamentoForm" type="it.unisa.greenbottle.controller.abbonamentoControl.form.AbbonamentoForm"*/-->
    <form class="filter-section p-4 sticky-top" id="tier-card" method="get" th:object="${abbonamentoForm}">
        <div class="row justify-content-center">
            <!-- Bronze Card -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header bg-bronze text-white">
                        Bronze
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Bronze Plan</h5>
                        <p class="card-text">Scopri i nostri piani base.</p>
                        <button type="submit" class="btn btn-primary" name="abbonamento" value="Bronze"
                                onclick="showSection()">Mostra
                        </button>
                    </div>
                </div>
            </div>
            <!-- Silver Card -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header bg-silver text-white">
                        Silver
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Silver Plan</h5>
                        <p class="card-text">Ottieni di più con i nostri piani silver.</p>
                        <button type="submit" class="btn btn-primary" name="abbonamento" value="Silver"
                                onclick="showSection()">Mostra
                        </button>
                    </div>
                </div>
            </div>
            <!-- Gold Card -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header bg-gold text-white">
                        Gold
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gold Plan</h5>
                        <p class="card-text">Ottieni il meglio con i nostri piani gold.</p>
                        <button type="submit" class="btn btn-primary" name="abbonamento" value="Gold"
                                onclick="showSection()">Mostra
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<section class="row" id="subSection">
    <h2>La nostra selezione:</h2>
    <table>
        <thead>
        <tr>
            <th>I prodotti</th>
            <th>La frequenza</th>
            <th>Il rinnovo</th>
            <th>Il costo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sub : ${abbonamenti}">
            <td th:each="prodotto : ${sub.getProdottiAbbonamento()}">
                <ul>
                    <!-- Aggiungere link alla pagina del prodotto singolo -->
                    <li th:text="${prodotto.key.getNome() + ' x' + prodotto.value}"></li>
                </ul>
            </td>
            <td th:text="${sub.getFrequenza()}"></td>
            <td th:text="${sub.getRinnovo()}"></td>
            <!-- Aggiungere link alla pagina di pagamento -->
            <td th:width="200px" th:text="${sub.getPrezzo()}"><br><a href="">
                <button class="btn btn-primary btn-sm w-20">Compra ora</button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<div class="text-center text-muted" th:if="${#lists.isEmpty(abbonamenti)}">
    <p>Nessun abbonamento appartenente al tier selezionato.</p>
</div>
<script>
    document.querySelector('.bg-bronze').style.backgroundColor = '#cd7f32'; // Bronze
    document.querySelector('.bg-silver').style.backgroundColor = '#c0c0c0'; // Silver
    document.querySelector('.bg-gold').style.backgroundColor = '#ffd700';   // Gold

    function showSection() {
        document.querySelector('section').style.display = 'flex';
    }
</script>
<div th:replace="~{fragments/fragments :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>