<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abbonamenti - GreenBottle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/img/Logo.png}" rel="shortcut icon"/>
    <link th:href="@{/stylesheet/Common.css}" rel="stylesheet">
    <link th:href="@{/stylesheet/Head.css}" rel="stylesheet">
    <link th:href="@{/stylesheet/Footer.css}" rel="stylesheet">
    <link th:href="@{/stylesheet/Abbonamenti.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/fragments.html :: header}"></div>
<div class="container vh-100">
    <h1 class="display-5 fw-bold m-5 text-center">I nostri abbonamenti</h1>
    <div class="container mt-5">
        <!--/*@thymesVar id="abbonamentoForm" type="it.unisa.greenbottle.controller.abbonamentoControl.form.AbbonamentoForm"*/-->
        <form class="filter-section p-4" id="tier-card" method="get">
            <div class="row justify-content-center">
                <!-- Bronze Card -->
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header bg-bronze text-white">
                            Bronze
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bronze Plan</h5>
                            <p class="card-text">Scopri i nostri piani base.</p>
                            <button type="submit" class="btn btn-primary" name="abbonamento" value="Bronze"
                                    onclick="showSection()">Mostra
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Silver Card -->
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header bg-silver text-white">
                            Silver
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Silver Plan</h5>
                            <p class="card-text">Ottieni di più con i nostri piani silver.</p>
                            <button type="submit" class="btn btn-primary" name="abbonamento" value="Silver"
                                    onclick="
                                showSection()">Mostra
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Gold Card -->
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header bg-gold text-white">
                            Gold
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Gold Plan</h5>
                            <p class="card-text">Ottieni il meglio con i nostri piani gold.</p>
                            <button type="submit" class="btn btn-primary" name="abbonamento" value="Gold"
                                    onclick="showSection()">Mostra
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <section class="row justify-content-center mx-0" id="subSection">
        <h2 class="text-center mb-4">La nostra selezione:</h2>
        <div class="col-md-10 col-lg-8"> <!-- Stesso contenitore centrato -->
            <table class="table table-bordered text-center custom-table">
                <thead class="thead-dark table-light">
                <tr>
                    <th>I prodotti</th>
                    <th>La frequenza</th>
                    <th>Il rinnovo</th>
                    <th>Il costo</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sub : ${abbonamenti}">
                    <td>
                        <ul th:each="prodotto : ${sub.getProdottiAbbonamento()}" class="list-unstyled">
                            <li th:text="${prodotto.key.getNome() + ' x' + prodotto.value}"></li>
                        </ul>
                    </td>
                    <td th:text="${sub.getFrequenza()}"></td>
                    <td th:text="${sub.getRinnovo()}"></td>
                    <td th:width="200px" th:text="${sub.getPrezzo()}"></td>
                    <td>
                        <button th:if="${session.sessionCliente != null and session.sessionCliente.getCliente().isPresent()}"
                                th:onclick="|location.href='abbonamento?sottoscrivi=${sub.getId()}'|"
                                class="btn btn-primary btn-sm w-100">Sottoscrivi
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="text-center text-muted" th:if="${#lists.isEmpty(abbonamenti)}" style="margin-top: 8px">
        <p>Nessun abbonamento appartenente al tier selezionato.</p>
    </div>
    <div class="text-center text-muted" style="margin-top: 8px"
         th:if="${session.sessionCliente == null}">
        <p>Effettua l'accesso per acquistare un abbonamento</p>
    </div>
</div>
<div th:replace="~{fragments/fragments :: footer}"></div>
<script>
    document.querySelector('.bg-bronze').style.backgroundColor = '#cd7f32'; // Bronze
    document.querySelector('.bg-silver').style.backgroundColor = '#c0c0c0'; // Silver
    document.querySelector('.bg-gold').style.backgroundColor = '#ffd700';   // Gold

    function showSection() {
        document.querySelector('section').style.display = 'flex';
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>